#! /bin/sh

echo "Extracting file "$0"..."
if [ -d $extract_dir ]; then
	mkdir -p $extract_dir
fi
tail -c $size $0 | tar -zxv -C $extract_dir
$install_script

#Make sure the script exit before the archive
exit
